// import the base SCSS mixins, variables etc for use in all your components
@import './styles/utils/base';

// TODO: replace the following styles once you start!
.App {
  text-align: center;
  background-image: url('../../client/src/assets/background.png');
  height: 4000px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

